[req]
distinguished_name=localhost
x509_extensions=v3_req
prompt=no

[localhost]
C=GB
ST=local
L=local
O=Development
OU=Development
CN=localhost

[v3_req]
keyUsage=critical,digitalSignature,keyAgreement
extendedKeyUsage=serverAuth
subjectAltName=@alt_names
[alt_names]
DNS.1=www.localhost.com
DNS.2=localhost.com
DNS.3=localhost